* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

 h1 {
     font-size: 2em;
     line-height: 2;
 }

h1 hr,
h2 hr,
h3 hr,
h4 hr,
h5 hr,
h6 hr {
  color: #000000;             /* IE7+ */
  border-width: 2px;
  border-color: #000000;      /* Chrome and Safari */
  background-color: #000000;  /* Firefox and Opera */
  max-width: 100%;
}
body {
    background: #fff;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}
 
.ace-nav {
    background-color:rgb(30,144,255);
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
	text-align: center;
}
 
    .ace-nav > div#logo {
        line-height: 70px;
        position: relative;
    }
 
    .ace-nav > .menuDown {
        box-shadow: 0 3px 5px rgba(0,0,0,.15);
    }
 
    .ace-nav > .menuUp {
        box-shadow: none;
    }
 
        .ace-nav > div#logo > h1 > a{
            color: white;
            font-weight: 300;
			text-transform: lowercase;
			text-decoration: none;
        }
 
        .ace-nav > div#logo > div#navToggle {
            background-color: rgba(0,0,0,.15);
            position: absolute;
            right: 0;
            top: 0;
            transition: 300ms all ease;
        }
 
            .ace-nav > div#logo > div#navToggle:hover {
                background-color: rgba(0,0,0,.1);
            }
 
            .ace-nav > div#logo > div#navToggle > a {
                color: rgba(255,255,255,.85);
                display: block;
                font-size: 0.85em !important;
                font-weight: 600;
                padding: 0 2.5rem;
                text-decoration: none;
				transition: 300ms all ease;
				
            }
 
                .ace-nav > div#logo > div#navToggle:hover > a {
                    color: rgba(255,255,255,1);
                }
 
    .ace-nav > .nav-bar {
        background-color: white;
        display: none;
        flex: 1;
        transform: 300ms all ease;
    }
 
        .ace-nav .nav-bar > ul {
            list-style-type: none;
        }
 
            .ace-nav .nav-bar > ul > li {
                border-bottom: 1px dotted rgba(0,0,0,.1);
                position: relative;
            }
 
                .ace-nav .nav-bar > ul > li:last-of-type {
                    border-bottom: none;
                }
 
                .ace-nav .nav-bar > ul > li > a {
                    display: block;
                    color: rgba(0,0,0,.65);
                    font-weight: 700;
                    padding: 1.5rem 0;
                    text-decoration: none;
                    transition: 250ms all ease;
                }
 
                    .ace-nav .nav-bar > ul > li > a span.toggle {
                        background-color: rgba(0,0,0,.05);
                        border-radius: 3rem;
                        color: rgba(0,0,0,.25);
                        font-size: 0.75em;
                        font-weight: 500;
                        padding: 2px 8px;
                        text-transform: lowercase;
                    }
 
                    .ace-nav .nav-bar > ul > li > a span.caret {
                        display: none;
                    }
 
                    .ace-nav > .nav-bar > ul > li:hover > a {
                        color: rgb(30,144,255);
                    }
 
            .ace-nav > .nav-bar > ul > li > .nav-bar {
                background-color: rgb(51,51,51);
                border-radius: 1.5em;
                box-shadow: 0 2px 8px rgba(0,0,0,.6);
                display: none;
                overflow: hidden;
                position: absolute;
                right: 5%;
                width: 90%;
                z-index: 100;
            }
 
                .ace-nav > .nav-bar > ul > li > .nav-bar > ul > li > a {
                    color: rgba(255,255,255,.85);
                    transition: 300ms all ease;
                }
 
                    .ace-nav > .nav-bar > ul > li > .nav-bar > ul > li:hover > a {
                        background-color: rgba(0,0,0,.6);
                        color: rgba(255,255,255,1);
                    }
 

.logo-name-small{display:none;}

.ace-intro {

    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    width: 100%;
    height: 70%;
    background: url(../images/msc-large.jpg) no-repeat center scroll;
    background-size: cover;
}

.ace-adj-row {
    /* margin-top:50px; */
    margin-bottom:2px;
    background-color:#fff;
    display: flex;
    flex:1;
    justify-content: space-evenly;
}
.ace-adj-icons {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px;
}
.ace-row {
    /* margin-top:50px; */
    margin-bottom:2px;
    /* background-color:#fff; */
    display: flex;
    flex:1;
    justify-content: space-evenly;
}
.material-icons {
    font-size: 100px !important;
}
.ace-item-img {
    width:100%;
}

footer#ace-footer {
    background-color: #495867;
    color:#fff;
    
}
.ace-section-background {
    /* background-color: #969a97; */
    background-color:#DCE2DD;
    width: 100%;
    /* height: 300px; */
    text-align: center;
    display:flex;
}
.container-fluid#ace-caro-divider{
    margin-bottom: 2px;
}

.ace-button{
    border-radius: 4px;
    border: none;
    color:white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    -webkit-translation-duration:0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.ace-button#letterFromPres{
    background-color: white; 
    color: black;
    border: 2px solid #008CBA;
}
.ace-button#letterFromPres:hover {
    background-color: #008CBA;
    color: white;
}

.ace-button#admissionButton {
    background-color: white; 
    color: black;
    border: 2px solid #008CBA;
}
.ace-button#admissionButton:hover {
    background-color: #008CBA;
    color: white; 
}

.ace-button#memberButton {
    background-color: white; 
    color: black;
    border: 2px solid #008CBA;
}
.ace-button#memberButton:hover {
    background-color: #008CBA;
    color: white; 
}
.letter-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.letter-modal-header {
    padding: 2px 16px;
    background-color: #008CBA;
    color: white;
}
.letter-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.letter-modal-body{
    padding: 2px 16px;
}
.letter-modal-footer {
    padding: 2px 16px;
    background-color: #008CBA;
    color: white;
}
.cooking-for-hope-text {
    padding: 10px 50px;
}
h2#cfh-title {
    text-indent:100px;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Medium screens */

@media all and (min-width: 1000px) {
    h1 {
        font-size: 2em;
        line-height: 2.5;
    }
    .ace-nav > div#logo > div#navToggle {
        display: none;
    }
 
    .ace-nav {
        background-color: white;
        flex-direction: row;
        line-height: 75px !important;
        padding: 0 3rem;
        /* position: fixed; */
        text-align: left;
        width: 100%;
    }
 
        .ace-nav > div#logo {
            background-color: transparent;
            line-height: 90px !important;
        }
 
            .ace-nav > div#logo > h1#logo-change > a {
				color:rgb(30,144,255);
				text-decoration: none !important;
            }
 
    .ace-nav > .nav-bar {
        background-color: transparent;
        display: block;
    }
 
        .ace-nav > .nav-bar > ul {
            display: flex !important;
            flex-flow: row wrap;
            justify-content: flex-end;
        }
 
            .ace-nav .nav-bar > ul > li {
                border-bottom: none;
            }
 
                .ace-nav .nav-bar > ul > li > a {
                    padding: 0 1.25rem;
                }
 
                    .ace-nav .nav-bar > ul > li > a span.toggle {
                        display: none;
                    }
 
                    .ace-nav .nav-bar > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid rgba(0,0,0,.65);
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 1px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        margin: 0 0 0 .25rem;
                        transition: 250ms all ease;
                        width: 0;
                        vertical-align: middle;
                    }
 
                        .ace-nav .nav-bar > ul > li:hover > a span.caret {
                            border-top-color:rgb(30,144,255);
                            transform: rotate(270deg);
                        }
 
    .ace-nav > .nav-bar > ul > li:hover > .nav-bar {
        background-color: rgb(51,51,51);
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0,0,0,.6);
        display: block;
        line-height: 3em;
        right: -50%;
        width: 196px;
    }

    .carousel-inner{
        width:75%;
        max-height: 75% !important;
        display:block;
        margin: auto;
      }


}


@media(max-width:500px) {
	.logo-name-big{ display: none;}
    .logo-name-small{display:block;}

    .ace-intro {
        /* background: url(../images/msc-small.jpg) no-repeat center scroll; */
        height: 50%;
    }

    .material-icons {
        font-size: 75px !important;
    }

    .ace-adj {
        font-size: 14px;
    }
    .ace-row {
        /* margin-top:50px; */
        margin-bottom:2px;
        /* background-color:#fff; */
        display: flex;
        flex:1;
        justify-content: space-evenly;
        flex-direction: column;
    }
    h2#cfh-title {
        text-indent:50px;
    }
}


