<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/ace.css">
    <link rel="stylesheet" href= "/assets/css/admissions.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <link rel="icon" type="image/png" href="/assets/images/white-wolf-icon.png">
    <script type="text/javascript" src="/assets/js/navigation.js"></script>
    <script type="text/javascript" src="/assets/js/mobile-swipe.js"></script>

    <title>Aggie Club of Engineers</title>

</head>
<body>
<header class="ace-nav">
    <div id="logo" class="menuUp">
        <h1 id ="logo-change" class="logo-name-big"><a href = "/ace/home">aggie club of engineers.</a></h1>
        <h1 class="logo-name-small"> <a href ="/ace/home"><img src = "/assets/images/blue-wolf-icon.png"/> ace.</a></h1>
        <div id="navToggle"><a href="#">&#9776;</a></div>
    </div>
    <nav class = "nav-bar">
        <ul>
            <li><a href="/ace/admission">Admissions</a></li>
            <li><a href="/ace/cookingforhope">Cooking for Hope</a></li>
            <li>
                <a href="#">Members<span class="toggle">Expand</span><span class="caret"></span></a>
                <nav class = "nav-bar">
                    <ul>
                        <li><a href="/ace/officers">Officers</a></li>
                        <!--<li><a href="#">General Members</a></li>-->
                    </ul>
                </nav>
            </li>
            <!--<li><a href="#contact-section">Contact</a></li>-->
            <li><a href="/ace/member-login">Login</a></li>
        </ul>
    </nav>
</header>
        <div class="gallery js-flickity" style = "margin-top:50px;"data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>

            <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "/assets/images/recruitment/billy.jpeg"
                        <b>Billy Cary</b>
                </div>
            </div>

            <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "/assets/images/recruitment/Evan_Konda.jpg"
                        <b>Evan Konda</b>
                </div>
            </div>

            <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "/assets/images/recruitment/Alex_Huck.jpeg"
                        <b>Alex Huck</b>
                </div>
            </div>

            <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "/assets/images/recruitment/Andrew_Singer.jpg"
                        <b>Andrew Singer</b>
                </div>
            </div>

            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Brad_Batsell.png"
                            <b>Brad Batsell</b>
                    </div>
            </div>

            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Carlos_Alvarez.jpeg"
                            <b>Carlos Alvarez</b>
                    </div>
            </div>

            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Chris_Mangini.jpg"
                            <b>Chris Mangini</b>
                    </div>
            </div>

            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Colin_Snell.jpg"
                            <b>Colin Snell</b>
                    </div>
            </div>

            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Daniel_Rutlidge.jpeg"
                            <b>Daniel Rutlidge</b>
                    </div>
            </div>

            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Ethan_Hardin.JPG"
                            <b>Ethan Hardin</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Ethan_Young.jpg"
                            <b>Ethan Young</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Garrett_Hummel.jpg"
                            <b>Garrett Hummel</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Jared_Arend.jpeg"
                            <b>Jared Arend</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Kyle_Snell.png"
                            <b>Kyle Snell</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Luis_Saucedo.jpg"
                            <b>Luis Saucedo</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Matt_Day.jpg"
                            <b>Matt Day</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Micheal_Moellering.PNG"
                            <b>Michael Moellering</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Robert_Todd.JPG"
                            <b>Robert Todd</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Tyler_Otten.jpg"
                            <b>Tyler Otten</b>
                    </div>
            </div>
            <div class="gallery-cell">
                    <div class = "ace-adj-icons">
                            <img src = "/assets/images/recruitment/Tyler_Wooten.jpg"
                            <b>Tyler Wooten</b>
                    </div>
            </div> 
        </div>

        <p class = "recruitment-body-text">
				Welcome, new potential members! Meet this year's recruitment commitee. Get to know to these faces and we hope to see you come out for our organziation!
			</p>
        <h2 style="text-indent: 100px;margin-top:55px;">Informationals<hr></h2>
        <div class = "container">
            <div class = "ace-row">
                    <div class = "ace-adj-icons">
                        <p>Date: <b>September 3rd, 2018</b></p>
                        <p>Where: <b>Rudder 301</b></p>
                        <p>Time: <b>3-4 PM</b></p>
                            <p><b>OR</b></p>
                        <p>Time: <b>4-5 PM</b></p>
                    </div>
                    <div class = "ace-adj-icons">
                            <p>Date: <b>September 6rd, 2018</b></p>
                            <p>Where: <b>Rudder 301</b></p>
                            <p>Time: <b>3-4 PM</b></p>
                                <p><b>OR</b></p>
                            <p>Time: <b>4-5 PM</b></p>
                        </div>
                </div>
        </div>
        <h2 style="text-indent: 100px;margin-top:55px;">Come Meet Us!<hr></h2>
        <div class = "container">
            <div class = "ace-row">
                <div class = "ace-adj-icons">
                    <p>Where: <b>Rosa's Cafe &amp; Tortilla Factory</b></p>
                    <p>Address:<b>710 University Dr E, College Station, TX 77840</b></p>
                    <p>Check the facebook link for more information!</p>
                </div>
            <a href=""><img style="margin-top:25px;"src = "/assets/images/facebook-icon.png"></a>
            </div>
        </div>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> 
    </body>