<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/ace.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <link rel="icon" type="image/png" href="/assets/images/white-wolf-icon.png">
    <script type="text/javascript" src="/assets/js/navigation.js"></script>
    <script type="text/javascript" src="/assets/js/mobile-swipe.js"></script>

    <title>Aggie Club of Engineers</title>

</head>
<body>
<header class="ace-nav">
    <div id="logo" class="menuUp">
        <h1 id ="logo-change" class="logo-name-big"><a href = "/ace/home">aggie club of engineers.</a></h1>
        <h1 class="logo-name-small"> <a href ="/ace/home"><img src = "/assets/images/blue-wolf-icon.png"/> ace.</a></h1>
        <div id="navToggle"><a href="#">&#9776;</a></div>
    </div>
    <nav class = "nav-bar">
        <ul>
            <li><a href="/ace/admission">Admissions</a></li>
            <li><a href="/ace/cookingforhope">Cooking for Hope</a></li>
            <li>
                <a href="#">Members<span class="toggle">Expand</span><span class="caret"></span></a>
                <nav class = "nav-bar">
                    <ul>
                        <li><a href="/ace/officers">Officers</a></li>
                        <!--<li><a href="#">General Members</a></li>-->
                    </ul>
                </nav>
            </li>
            <!--<li><a href="#contact-section">Contact</a></li>-->
            <li><a href="/ace/member-login">Login</a></li>
        </ul>
    </nav>
</header>
<h2 style = "text-align:center;"> Camp Hope<hr></h2>
<div class = "container">
    <div class = "ace-row">
        <a href = "http://ptsdusa.org/about-us/our-mission/"><img style = "margin-left:85px;" src = "/assets/images/cookingforhope/camp-hope-shield.png"></a>
        <p>Camp Hope is a foundation who's mission is to combat PTSD. <br>
            Their mission is to give back to those who have given of themselves so selflessly<br>
            Their goal is to bring healing to the military community,raise awareness of needs in the military community. <br>
            Want to find out more? Click the image to find out more about Camp Hope.</p>
    </div>
</div>


<div style= "margin-top:35px;"class="gallery js-flickity"
     data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
    <div class="gallery-cell"><img src = "/assets/images/cookingforhope/cfh1.JPG"></div>
    <div class="gallery-cell"><img src = "/assets/images/cookingforhope/cfh2.JPG"></div>
    <div class="gallery-cell"><img src = "/assets/images/cookingforhope/cfh3.JPG"></div>
</div>
<h2 style="text-align: center;margin-top:55px;">Come Join Us!<hr></h2>
<div class = "container">
    <div class = "ace-row" >
        <p>Cooking For Hope is a BBQ event inviting the students of A&amp;M,friends and family to enjoy good <br>food, music, games and company.<br>
            All money raised will directly benefit Camp Hope | PTSD Foundation of America.<br>
        Check out the Facebook link to see if we have an event coming up!</p>
        <a href=""><img style="margin-top:25px;"src = "/assets/images/facebook-icon.png"></a>
    </div>
</div>


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>    
</body>
</html>