<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/images/white-wolf-icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/dashboard.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src ="/assets/js/dashboard-nav.js"></script>
    </head>

    <body id = "ace-dashboard-body">

        <div class = "ace-header">
            <div class = "ace-logo">
                <img src = "/assets/images/black-wolf-icon.png"/>
                <span>ACE</span>
            </div>
            <a href="#" class="nav-trigger"><span></span></a>
        </div>

        <div class ="ace-dashboard-sidenav">

            <div class = "ace-logo">
                <img src = "/assets/images/black-wolf-icon.png"/>
                <span>ACE</span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/ace/dashboard">
                            <span><i class = "material-icons dashboard-icons">home</i></span>
                            <span>Home</span>
                        </a>
                    </li>

                    <li>
                        <a href=#>
                            <span><i class ="material-icons dashboard-icons">book</i></span>
                            <span>Attendance</span>
                        </a>
                    </li>

                    <li class = "active">
                        <a href="/ace/dashboard-events">
                            <span><i class ="material-icons dashboard-icons">event</i></span>
                            <span>Events</span>
                        </a>
                    </li>

                    <li>
                            <a href=#>
                                <span><i class ="material-icons dashboard-icons">event</i></span>
                                <span>Logout</span>
                            </a>
                        </li>
                </ul>

            </nav>
        </div>

        <div class = "ace-dashboard-content">
            <div class = "title">
                <h1 style="text-align: center;">Create Event</h1>
            </div>
            hello hello
            <div class = "title">
                <h3>Event Information</h3>
            </div>

            <div class="form-group">
                <input id="event-name"type="text" class="form-control" name="name" placeholder="Event Name"/>
            </div>

            <div class="form-group">
                <select id ="event-type"class="form-control" name="type">
                    <option disabled selected value> -- select point type -- </option>							
                    <option value="fundraising">Fundraising</option>
                    <option value="service">Service</option>
                    <option value="flex">Flex</option>
                </select>
            </div>
            <div class="form-group">
                <input id="points"type="number" class="form-control" min="1" name="points" placeholder="Points per shift"/>
            </div>

            <div class="form-group">
                <label for="date">Date of Event: </label>
                <input id ="start_date"type="date" class="form-control" name="date">
            </div>
            <div class="form-group">
                <label for="freeze">Freeze Date: </label>
                <input id ="end_date"type="date" class="form-control" name="freeze">
            </div>



            
            <button id="submit-event"type="submit" class="btn btn-default btn-lg">Submit</button>
        </div>

    </body>

    <script>
        $("#submit-event").click(function() {
            var eventNameEntered = $("#event-name").val()
            var eventTypeEntered = $("#event-type").val()
            var pointsEntered = $("#points").val()
            var startDateEntered = $("#start_date").val()
            var endDateEntered = $("#end_date").val()

            $.ajax({
                type:"POST",
                url:"http://localhost:8080/ace/create-event",
                headers:{
                    'Accept': 'application/json',
                    'Content-Type':'application/json'
                },
                data: JSON.stringify({
                    event_name: eventNameEntered,
                    event_type: eventTypeEntered,
                    event_points: pointsEntered,
                    event_start: startDateEntered,
                    event_end: endDateEntered
                }),
                success: function() {
                    alert("It worked");
                }


            });
        });
    </script>
</html>