<head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
        <input id="f_name" type="text" placeholder="type your firstname"/>
        <br>
        <input id="l_name" type="text" placeholder="type your lastname"/>
        <br>
        <input id="password" type="password" placeholder="type your password"/>
        <br>
        <input id="email" type="text" placeholder="type your email"/>
        <br>
        <input id="uin" type="text" placeholder="type your uin"/>
        <br>
        <input id="phone" type="text" placeholder="type your phone"/>
        <br>
        <select id="major" class="form-control" value="AERO">
            <option value="AERO">Aerospace Engineering</option>
            <option value="BAEN">Biological and Agricultural Engineering</option>
            <option value="BMEN">Biomedical Engineering</option>
            <option value="CECN">Computer Engineering (CSCE Track)</option>
            <option value="CEEN">Computer Engineering (EE Track)</option>
            <option value="CHEN">Chemical Engineering</option>
            <option value="CSCE">Computer Science</option>
            <option value="CVEN">Civil Engineering</option>
            <option value="ECEN">Electrical Engineering</option>
            <option value="ESET">Electronic Systems Engineering Technology</option>
            <option value="ENGR">General Engineering</option>
            <option value="IDIS">Industrial Distribution</option>
            <option value="ISEN">Industrial Engineering</option>
            <option value="MEEN">Mechanical Engineering</option>
            <option value="MMET">Manufacturing and Mechanical Engineering Technology</option>
            <option value="MXET">Multidisciplinary Engineering Technology</option>
            <option value="NUEN">Nuclear Engineering</option>
            <option value="OCEN">Ocean Engineering</option>
            <option value="PETE">Petroleum Engineering</option>
        </select>
        <br>
        <select id="family" class="form-control" value="MEEN">
            <option value="MEEN">MEEN</option>
            <option value="PETE">PETE</option>
            <option value="ZAPDOS">Zapdos</option>
            <option value="GANGSTER">Gangster Squad</option>
        </select>
        <br>
        <button id="create-account">create account</button>
    </body>

    <script>

        $("#create-account").click(function() {
            var firstnameEntered = $("#f_name").val()
            var lastnameEntered = $("#l_name").val()
            var majorEntered = $("#major").val()
            var passwordEntered = $("#password").val()
            var emailEntered = $("#email").val()
            var uinEntered = $("#uin").val()
            var phoneEntered = $("#phone").val()
            var familyEntered = $("#family").val()

            $.ajax({
                  type: "POST",
                  url: "http://localhost:8080/ace/create-account",
                  headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                  },
                  data: JSON.stringify({
                        f_name: firstnameEntered,
                        l_name: lastnameEntered,
                        major: majorEntered,
                        password: passwordEntered,
                        email: emailEntered,
                        uin: uinEntered,
                        phone: phoneEntered,
                        family: familyEntered
                  }),
                  success: function() {
                    alert("it worked");
                  }
            });
        });
    </script>


