<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/ace.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <link rel="icon" type="image/png" href="/assets/images/white-wolf-icon.png">
    <script type="text/javascript" src="/assets/js/navigation.js"></script>
    <script type="text/javascript" src="/assets/js/mobile-swipe.js"></script>

    <title>Aggie Club of Engineers</title>

</head>
<body>
<header class="ace-nav">
    <div id="logo" class="menuUp">
        <h1 id ="logo-change" class="logo-name-big"><a href = "/ace/home">aggie club of engineers.</a></h1>
        <h1 class="logo-name-small"> <a href ="/ace/home"><img src = "/assets/images/blue-wolf-icon.png"/> ace.</a></h1>
        <div id="navToggle"><a href="#">&#9776;</a></div>
    </div>
    <nav class = "nav-bar">
        <ul>
            <li><a href="/ace/admission">Admissions</a></li>
            <li><a href="/ace/cookingforhope">Cooking for Hope</a></li>
            <li>
                <a href="#">Members<span class="toggle">Expand</span><span class="caret"></span></a>
                <nav class = "nav-bar">
                    <ul>
                        <li><a href="/ace/officers">Officers</a></li>
                        <!--<li><a href="#">General Members</a></li>-->
                    </ul>
                </nav>
            </li>
            <!--<li><a href="#contact-section">Contact</a></li>-->
            <li><a href="/ace/member-login">Login</a></li>
        </ul>
    </nav>
</header>
    <body>
    <div class = "ace-intro">
    </div>
    <h2 style="text-indent: 100px;">About Us</h2>
    <div class = "ace-adj-row">
        <div class ="ace-adj-icons">
            <i class = "material-icons" style="color:rgba(0,255,0,0.3);">public</i>
            <h2 class = "ace-adj"style="margin-top:20px;">Service</h2>
        </div>

        <div class = "ace-adj-icons">
            <i class = "material-icons"style="color:rgba(0,0,0,0.3);" >school</i>
            <h2 class = "ace-adj" style="margin-top:20px;">Academics</h2>
        </div>

        <div class = "ace-adj-icons">
            <i class = "material-icons"style="color:rgba(30,144,255,0.3);" >people</i>
            <h2 class = "ace-adj" style="margin-top:20px;">Social</h2>
        </div>

        <div class = "ace-adj-icons">
            <i class = "material-icons"style="color:rgba(255,0,0,0.3);" >person</i>
            <h2 class = "ace-adj" style="margin-top:20px;">Leadership</h2>
        </div>
    </div>

    <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true }'>
        <div class="gallery-cell">
            <img src ="/assets/images/ace-brotherhood.jpg">
        </div>
        <div class="gallery-cell">
            <img  src ="/assets/images/ace-service-event1.jpg">
        </div>
        <div class="gallery-cell">
            <img src ="/assets/images/ace-alumn.jpg">
        </div>
        <div class="gallery-cell">
            <img  src ="/assets/images/ace-vball-pic.jpg">
        </div>
    </div>

    <div class ="ace-section-background">
        <div class = "container">
            <div class = "ace-row" style = "margin-bottom:30px">

                <div class = "ace-adj-icons">
                    <i class = "material-icons">description</i>
                    <b>Letter from our president!</b>
                    <button class = "ace-button" id = "letterFromPres">Check it Out!</button>
                </div>

                <div class = "ace-adj-icons">
                    <i class = "material-icons">accessibility_new</i>
                    <b>Interested in Joining?</b>
                    <button class = "ace-button" id = "admissionButton" onclick="location.href='/ace/admission'">Admissions</button>
                </div>

                <div class = "ace-adj-icons">
                    <i class = "material-icons">face</i>
                    <b>Check out our Members!</b>
                    <button class = "ace-button" id = "memberButton" onclick="location.href='/ace/officers'">Members</button>
                </div>
            </div>
            <div id = "presLetter"class = "letter-modal">
                <div class ="letter-modal-content">
                    <div class = "letter-modal-header">
                        <span class="close">&times;</span>
                        <h2><b>Letter from Our President</b></h2>
                    </div>
                    <div class = "letter-modal-body">
                        <p><p>&emsp;The Aggie Club of Engineers started with a handful of guys, drinking a handful of beers at O’Bannon’s. They had worked through their first challenging years of engineering all while being involved in some of the best fraternities and professional organizations A&amp;M has to offer. They were, by all stretches of the word, successful. But they had realized one thing. For all the prestige their organizations boasted, they just didn’t bring engineers together inside and outside of the classroom. They needed something different.</p>
                        <p>&emsp;7 years later, ACE stands as an homage to our founders’ vision. We have joined the ranks of some of the premier men’s organizations on campus, but with a flavor all our own. We have cultivated a culture that allows our members to develop in academics and leadership, while offering the highest caliber professional opportunities and social events. This is made possible by the amazing diversity in our organization. Our members represent over a dozen countries and come from every engineering discipline at Texas A&amp;M. We have Student Senators, Fish Camp Counselors, Muster Committee members, Executives at fraternities and professional organizations, and members of the Student Engineering Council. Each one of us brings a unique experience and background and puts it toward one common goal: To create a place for leaders to thrive.</p>
                        <p>&emsp;Personally, I cannot overstate the impact ACE has had in developing me through college. It has given me friendships and memories that will last the rest of my time on this Earth. Every tailgate and every retreat, every formal and every meeting. Each one has made me better than the day before. To be chosen by my best friends to continue that mission for other young engineers is the single greatest honor of my life.</p>
                        <p>&emsp;To be the best, we have to take the best natural born leaders that Dwight Look has to offer. If you think you have what it takes, please check out our recruitment tab above. We’d love to get to know you.</p>
                        <p>&emsp;For any questions regarding the organization or if you would like to come speak to our members, please contact me at <a href="mailto:tamuacepresident@gmail.com" target="_blank">tamuacepresident@gmail.com</a>.</p>
                        <br />
                        <p>Thanks and Gig ‘em,</p>
                        <p>Rishub Mishra</p></p>
                    </div>
                    <div class = "letter-modal-footer">
                        <div class = "ace-row">
                            <div class = "ace-adj-icons">
                                <img src = "/assets/images/officers/ace-president.jpg">
                                Ray Mishra Current ACE President
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "ace-section">
        <h2 id = "cfh-title">Cooking for Hope</h2>
        <div class = "ace-row">
            <img class = "cooking-for-hope-text"src = "/assets/images/camphope.png">
            <div class = "ace-adj-icons">
                <p class = "cooking-for-hope-text">Cooking For Hope is a BBQ event inviting the students of A&amp;M,friends and family to enjoy good food, music, games and company.
                    All money raised will directly benefit Camp Hope | PTSD Foundation of America, a organization that provides interim housing for our Wounded Warriors,
                    veterans and their families suffering from combat related PTSD in a caring and positive environment.</p>
                <button class = "ace-button" id = "admissionButton">Find Out More!</button>

            </div>

        </div>
    </div>

    <footer id = "ace-footer">
        <h2 id = "contact-section"style="text-indent: 100px;">Contact Us </h2>
        <div class = "ace-row">
            <div class = "ace-adj-icons">
                <a href="mailto:tamuacepresident@gmail.com"><i class = "material-icons" style = "color:#fff;">email</i></a>
                <b>Email Us!</b>
            </div>
        </div>
    </footer>
    </body>

   <script type = "text/javascript" src = "/assets/js/letterFromPres.js"></script>
   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</html>
    

