<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/images/white-wolf-icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/dashboard.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body id="ace-login-body">

    <!-- <div class = "container"> -->
    <div class = "centered-login" >
        <form>
            <div class="form-group">
                <label for="uin">UIN:</label>
                <input type="text" class="form-control" id="uin">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">

            </div>
        </form>
        <button id ="login" type="button" class="btn btn-default btn-md btn-block">Login</button>
    </div>
    <!-- </div> -->

    </body>

    <script>
        $("#login").click(function() {
            var uinEntered = $("#uin").val();
            var passwordEntered = $("#pwd").val();

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/ace/member-login",
                headers: {
                    'Accept': 'text/html',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    uin: uinEntered,
                    password: passwordEntered
                }),
                success: function() {
                    window.location = "/ace/dashboard";
                },
                error: function() {
                    alert("yep didnt work");
                }
            });

        });
    </script>
</html>


