<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/ace.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
        <link rel="icon" type="image/png" href="/assets/images/white-wolf-icon.png">
        <script type="text/javascript" src="/assets/js/navigation.js"></script>
        <script type="text/javascript" src="/assets/js/mobile-swipe.js"></script>
    
        <title>Aggie Club of Engineers</title>
    
    </head>
    <body>
    <header class="ace-nav">
        <div id="logo" class="menuUp">
            <h1 id ="logo-change" class="logo-name-big"><a href = "/ace/home">aggie club of engineers.</a></h1>
            <h1 class="logo-name-small"> <a href ="/ace/home"><img src = "assets/images/blue-wolf-icon.png"/> ace.</a></h1>
            <div id="navToggle"><a href="#">&#9776;</a></div>
        </div>
        <nav class = "nav-bar">
            <ul>
                <li><a href="/ace/admission">Admissions</a></li>
                <li><a href="/ace/cookingforhope">Cooking for Hope</a></li>
                <li>
                    <a href="#">Members<span class="toggle">Expand</span><span class="caret"></span></a>
                    <nav class = "nav-bar">
                        <ul>
                            <li><a href="/ace/officers">Officers</a></li>
                            <!--<li><a href="#">General Members</a></li>-->
                        </ul>
                    </nav>
                </li>
                <!--<li><a href="#contact-section">Contact</a></li>-->
                <li><a href="/ace/member-login">Login</a></li>
            </ul>
        </nav>
    </header>
    <h2 style = "margin-top:25px;text-align:center;;">Executive Staff<hr></h2>
    <div class="gallery js-flickity"
    data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Ray Mishra</b>
                          <b>President</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Robert Todd</b>
                          <b>Internal VP</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Jared Arend</b>
                          <b>External VP</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Tyler Wooten</b>
                          <b>Treasurer</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Andrew Singer</b>
                          <b>Secretary</b>
                  </div>
          </div>
        </div>
      </div>
    <h2 style = "margin-top:25px;text-align:center;">Internal Cabinet<hr></h2>
    <div class="gallery js-flickity"
  data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Gerardo Gerona</b>
                        <b>Judical Chair</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Billy Cary</b>
                        <b>Recruitment Chair</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Christopher Mangini</b>
                        <b>Service Chair</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Suraj Swarnapuri</b>
                        <b>Godfather Chair</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Matt Turner</b>
                        <b>Webmaster</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>RJ Martinolli</b>
                        <b>Athletic Chair</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Daniel Rutlidge</b>
                        <b>Academic Chair</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Jacob Foltyn</b>
                        <b>Quartermaster</b>
                </div>
        </div>
    </div>

    <h2 style = "margin-top:25px;text-align:center;">External Cabinet<hr></h2>
    <div class="gallery js-flickity"
    data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Michael Moellering</b>
                          <b>Member At Large</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>John Buettner</b>
                          <b>Social Chair</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Johnathan McGuire</b>
                          <b>Tailgating Chair</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Joesph Hernandez/b>
                          <b>Webmaster</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Kyle Orchard</b>
                          <b>Songfest Chair</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Luis Saucedo</b>
                          <b>PR Chair</b>
                  </div>
          </div>
          <div class="gallery-cell">
                  <div class = "ace-adj-icons">
                          <img src = "./images/recruitment/default.jpg"
                          <b>Mitchell Flowers</b>
                          <b>Alumni Chair</b>
                  </div>
          </div>
          <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Alex Huck</b>
                        <b>???</b>
                </div>
        </div>
        <div class="gallery-cell">
                <div class = "ace-adj-icons">
                        <img src = "./images/recruitment/default.jpg"
                        <b>Hector Bautista</b>
                        <b>???</b>
                </div>
        </div>
      </div>
    
    <h2 style = "margin-top:25px;text-align:center;">Zapdos Family<hr></h2>
    <div class = "ace-row">
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Carlos Alvarez</b>
        </div>
        <div class = "ace-adj-icons">
                <img src = "./images/recruitment/default.jpg">
                <b>Evan Konda</b>
        </div>
    </div>
    <h2 style = "margin-top:25px;text-align:center;">MEEN Family<hr></h2>
    <div class = "ace-row">
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Nick Manning</b>
        </div>
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Ethan Hardin</b>
        </div>
    </div>
    <h2 style = "margin-top:25px;text-align:center;">PETE Family<hr></h2>
    <div class = "ace-row">
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Issac Shrand</b>
        </div>
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Ethan Young</b>
        </div>
    </div>
    <h2 style = "margin-top:25px;text-align:center;">ID Family<hr></h2>
    <div class = "ace-row">
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Corey Wilson</b>
        </div>
        <div class = "ace-adj-icons">
            <img src = "./images/recruitment/default.jpg">
            <b>Brad Batsell</b>
        </div>
    </div>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>     
</body>